<div id="social" align="center">
  <a href="https://www.linkedin.com/in/ahappyoreo/" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=flat-square&logo=linkedin&logoColor=white" alt="@aScriptingOreo on LinkedIn"/></a>
</div>